 {% extends 'admin/headerfooter.html' %}
    {% block content %}
		<div class="main-grid">
			<div class="agile-grids">	
				<!-- input-forms -->
				<div class="grids">
					<div class="progressbar-heading grids-heading">
						<h2>Input Forms</h2>
					</div>
					<div class="panel panel-widget forms-panel">
						<div class="forms">
							<div class="form-grids widget-shadow" data-example-id="basic-forms"> 
								<div class="form-title">
									<h4>Basic Form :</h4>
								</div>
								<div class="form-body">
									{% for x in details %}
									<form action="/myadmin/admin_update/?uid={{x.id}}" method="post" enctype="multipart/form-data"> 
										{% csrf_token %}
										<div class="form-group"> 
											<label for="exampleInputEmail1">Name</label> 
											<input type="text" name="name" class="form-control" id="exampleInputEmail1" placeholder="Name" value="{{x.name}}"> 
										</div> 
										<div class="form-group"> 
											<label for="exampleInputPassword1">Price</label> 
											<input type="text" name="price" class="form-control" id="exampleInputPassword1" placeholder="Price" value="{{x.price}}"> 
										</div>
										<div class="form-group"> 
											<label for="exampleInputEmail1">Description</label> 
											<input type="text" name="desc" class="form-control" id="exampleInputEmail1" placeholder="Description" value="{{x.desc}}"> 
										</div>  
										<div class="form-group"> 
											<label for="exampleInputFile">Images</label> 
											<img src="{{x.image.url}}" width="200" height="200">
											</div>
										<div class="form-group"> 
											<label for="exampleInputEmail1">Do you want update Image</label> 
											<div class="radio">
											<label>
											  <input type="radio" name="imgup" value="yes"  onchange="hide();" id="chkyes" required>
											  Yes
											</label>
										</div>
										<div class="radio">
											<label>
											<input type="radio" name="imgup" value="no" onchange="hide();" checked required>
											No
											</label>
										</div>
									</div>
									<div class="form-group"  id="fileimg" style="display:none;"> 
							     	<label for="img">File input</label> 
							     	<input type="file" name="image" id="img" > 
							     </div> 
							    <div class="form-group">
							    	<label for="exampleInputgender">Gender</label> 
										<div class="radio">
											<label>
											  <input type="radio" name="gender" value="women" 
											  {% if x.gender == "women" %} checked {% else %} {% endif %} required>
											  Women
											</label>
										</div>
										<div class="radio">
											<label>
											<input type="radio" name="gender" {% if x.gender == "men" %}checked {% else %} {% endif %} value="men" required>
											Men
											</label>
										</div>
										<div class="form-group"> 
											<label>Category</label>
										<select id="category" name="category" class="form-control">
										<!-- <input type="text" name="category" class="form-control" placeholder="" required=""> -->
										<!-- <option selected>Category</option> -->
										<option value="watches">Bags</option>
										<option value="footwear">Footwear</option>
										<option value="tshirts">Watches</option>
										<option value="bags">Clothing</option>
                                        </select> 
										</div>
   

										<div class="checkbox"> 
											<label> <input type="checkbox"> Check me out </label> 
										</div> 
										<button type="submit" class="btn btn-default w3ls-button">Update</button> 
									</form>
								{% endfor %} 
								</div>
							<script type="text/javascript">
        function hide(){
            var chkyes = document.getElementById("chkyes");
        	var filediv = document.getElementById("fileimg");
        


        filediv.style.display = chkyes.checked ? "block" : "none";
        if (chkyes.checked){
            var img = document.getElementById("img").required = true;

        }
        else{
            var img = document.getElementById("img").required = false;


        }

    }
    </script>
							</div>
						</div>
					</div>
					{% endblock %}